.error-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 12%;
    gap: 24px;
}
.code {
    font-family: var(--mono-font);
    font-size: 4rem;
}