.contact-wrapper {
    display: flex;
    gap: var(--spacing-medium);
}

.contact-info {
    flex: 1;
}

.contact-form {
    flex: 1;
}

.contact-form input[type=text],
.contact-form textarea {
    font-family: inherit;
    color: var(--text-middle-colour);
    padding: 6px 12px;
    border-radius: var(--border-radius);
    border: 1.2px solid grey;
    background-color: transparent;
    font-size: 1.2rem;
    width: 100%;
}

.contact-form label {
    font-family: var(--mono-font);
    font-size: 1rem;
    color: var(--text-light-colour);
}




@media screen and (max-width: 800px) {
    .contact-wrapper {
        flex-direction: column;
    }
}
